# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven Shade temporary
dependency-reduced-pom.xml

# Idea files
*.iml
java/queen-problem/.idea
java/queen-problem/target
java/queen-problem/out

java/Server/QueenSolver/.idea
java/Server/QueenSolver/target

# Scala files


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
